.studentaddclass{
    background-color: rgb(211, 201, 189);
    border: 3px dashed #ea1010;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin: 10px;
    width: 40%;
    display: flex;
    justify-content: center;


}
label{
    font-weight: bold;
}
input{
    width: 100%;
}
.button-submit{
    background-color: green;
    color: white;
    padding: 5px 10px;
    margin: 5px;
}
.button-cancel{
    background-color: red;
    color: white;
    padding: 5px 10px;
    margin: 5px;
}